* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #fff;
    ---bg-color: #3c3b3b;
    ---output-bg-color: #b4b4b4;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,0,0,1) 50%, rgba(252,176,69,1) 100%);
}

body, button {
    color: var(--font-color)
}

.main-body {
    width: 70vw;
    height: 80%;
}

#title {
    text-align: center;
}

.calculator {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

.output, button {
    font-size: 1.5rem;
}

button {
    border-radius: 10px;
    background: transparent;
    border: none;
    height: 100%;
}

button:hover {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

.clearKey {
    grid-column: 1/3;
}

.output {
    width: 100%;
    text-align: end;
    padding: 0.5rem;
}

#zero {
    grid-column: 1/3;
}