* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    width: 50%;
    height: 80%;
}

#title {
    text-align: center;
}

.calculator {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr repeat(5, 1fr);
}

.output, button {
    font-size: 1.5rem;
}

.clearKey, .output {
    grid-column: 1/5;
    width: 100%;
}

.output {
    text-align: end;
}

#zero {
    grid-column: 1/3;
}