* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Disable double tap zoom on mobile devices */
    touch-action: manipulation; 
}

:root {
    --font-color: #fff;
    --primary-color: rgb(131, 58, 180);
    --gradient-start: rgba(131, 58, 180, 1);
    --gradient-end: rgba(252, 176, 69, 1);
}

.theme-1 {
    --font-color: #000;
    --primary-color: rgb(0, 0, 0);
    --gradient-start: rgba(0, 0, 0, 1);
    --gradient-end: rgba(167, 41, 41, 1);

}

.theme-2 {
    --font-color: #87CEEB;
    --primary-color: rgb(6,19,42);
    --gradient-start: rgba(6,19,42,1);
    --gradient-end: #606060;

}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--primary-color);
    background: linear-gradient(
        0deg,
        var(--gradient-start) 0%,
        var(--gradient-end) 100%
    );
    overflow: hidden;

    position: relative;
}

#theme-icon {
    position: absolute;
    top: 5%;
    left: 5%;
    height: max-content;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    position: relative;
}

#letter-c {
    position: absolute;
    transform: translateY(-0.5rem);
}

body, button {
    color: var(--font-color);
}

.main-body {
    width: 60vw;
    height: 70%;

    transform: translateY(-7%);
}

#title {
    text-align: center;
}

.calculator {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

.output, button {
    font-size: 1.5rem;
}

.output {
    width: 100%;
    overflow: scroll;
}

button {
    border-radius: 10px;
    background: transparent;
    border: none;
    height: 100%;
}

button:hover {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
}

button:active {
    transform: scale(0.8);
    transition: all 0.3s;
}

.clearKey {
    grid-column: 1/3;
}

.output {
    width: 100%;
    text-align: end;
    padding: 0.5rem;
}

#zero {
    grid-column: 1/3;
}